section.hero {
  margin-top: 5rem;
  // height: calc(100vh - 5rem);

  .hero-bg-image {
    background: blue;
    height: calc(30vh - 5rem);
    background: linear-gradient(rgba(4, 1, 18, 0.21), rgba(4, 1, 18, 0.21)),
      url(./../assets/img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: $white-color;
    text-shadow: 0px 3px 6px #050503;
    display: grid;
    place-items: center;

    .hero-text {
      h1 {
        @include logoStyleLarge;
        font-size: 4rem;
      }

      h2 {
        @include logoStyleNormal;
        font-size: 3rem;
      }
    }
  }
}
section.highlight {
  margin-top: 0;
  .container {
    height: 70vh;
    display: grid;
    place-items: center;
    padding: 2rem 0;

    .hero-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      max-width: 1024px;

      .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 5%;
        max-width: 28rem;

        h1 {
          font-size: 2.6rem;
        }

        h2 {
          font-size: 1.8rem;
        }

        .check {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-size: 1.2rem;
        }

        .buttons {
          display: flex;
          gap: 1.6rem;

          a {
            display: flex;
            align-items: center;
            gap: 0.6rem;
          }
        }
      }
      .right {
        display: grid;
        place-items: center;
        padding: 0 5%;
      }
    }
  }
}

/* ================== MEDIA QUERIES (SMALL SCREENS) ======================= */
@media screen and (max-width: 600px) {
  section.highlight {
    .container {
      .hero-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        .left {
          text-align: center;
          align-items: center;
        }
      }
    }
  }
}
