nav {
  box-shadow: $box-shadow;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: $white-color;

  .container {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
      @include logoStyleNormal;
    }

    #nav__items {
      display: flex;
      gap: 2rem;
    }

    button {
      display: none;
      background: transparent;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

/* ================== MEDIA QUERIES (MEDIUM SCREENS) ======================= */
@media screen and (max-width: 1024px) {
  nav {
    .container {
      position: relative;
      #nav__items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        gap: 0;
        box-shadow: $box-shadow;
        li {
          a {
            background: $white-color;
            display: block;
            padding: 1rem 2rem;
            transition: all 400ms ease;
            &:hover {
              background: darken($white-color, 3);
              color: $black-color;
            }
          }
        }
      }
      #open__nav-btn {
        display: inline-block;
      }
      #close__nav-btn {
        display: none;
      }
    }
  }
}
